@inject Webshop.Services.ProductHandler _ProductHandler;
@using System.Collections
@using System.Diagnostics.Metrics
@using System.Runtime.CompilerServices
@using Webshop.Models
@model IList<Webshop.Models.Product>;

<style>
    body {
        background: #FBF8F1;
       
    }


    a,
    a:hover {
        text-decoration: none;
        color: inherit;
    }
   

    .section-products {
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 80px 0 54px;
        background: rgb(186,109,84);
        background: linear-gradient(180deg, rgba(186,109,84,0.6112715349811799) 0%, rgba(0,212,255,0.3871818991268382) 100%);
        margin-bottom: 5rem;
        box-shadow: 1px 1px 5px black;
    }

        .section-products .header {
            margin-bottom: 50px;
        }

            .section-products .header h3 {
                font-size: 1rem;
                color: #fe302f;
                font-weight: 500;
            }

            .section-products .header h2 {
                font-size: 2.2rem;
                font-weight: 400;
                color: #444444;
            }

        .section-products .single-product {
           
            margin-bottom: 26px;
        }

            .section-products .single-product .part-1 {
                position: relative;
                display: flex;
                justify-content: center;
                height: 290px;
                max-height: 290px;
                margin-bottom: 20px;
                overflow: hidden;
             
            }

                .section-products .single-product .part-1::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: all 0.3s;
                }

            .section-products .single-product:hover .part-1::before {
                transform: scale(1.2,1.2) rotate(5deg);
            }

        /*.section-products #product-1 .part-1::before {
            background-repeat: no-repeat center;
            background-size: cover;
            transition: all 0.3s;
        }*/


        .section-products .single-product .part-1 .discount,
        .section-products .single-product .part-1 .new {
            position: absolute;
            top: 15px;
            left: 20px;
            color: #ffffff;
            background-color: #fe302f;
            padding: 2px 8px;
            text-transform: uppercase;
            font-size: 0.85rem;
        }

        .section-products .single-product .part-1 .new {
            left: 0;
            background-color: #444444;
        }

        .section-products .single-product .part-1 ul {
            position: absolute;
            bottom: -41px;
            left: 20px;
            margin: 0;
            padding: 0;
            list-style: none;
            opacity: 0;
            transition: bottom 0.5s, opacity 0.5s;
        }

        .section-products .single-product:hover .part-1 ul {
            bottom: 30px;
            opacity: 1;
        }

        .section-products .single-product .part-1 ul li {
            display: inline-block;
            margin-right: 4px;
        }

            .section-products .single-product .part-1 ul li a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background-color: #ffffff;
                color: #444444;
                text-align: center;
                box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
                transition: color 0.2s;
            }

                .section-products .single-product .part-1 ul li a:hover {
                    color: #fe302f;
                }

        .section-products .single-product .part-2 .product-title {
            font-size: 1rem;
            
            
        }

        .section-products .single-product .part-2 h4 {
         
            font-size: 0.9rem;
           
        }

    .center {
        margin: auto;
        width: 70%;
        
        
    }
   

            .section-products .single-product .part-2 .product-old-price::after {
                
                content: "";
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #444444;
                transform: translateY(-50%);
            }
    .header-img {
        background: url("/img/makeup.jpg");
        background-size:cover;
        background-repeat: no-repeat;
       
    }
    .img-product {
        /*border: 1px solid black;*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>

@{
    //var top_products = await _ProductHandler.GetMostPopularProducts(12);
    //var productSelection = productTake(3);
    IEnumerable<Product> productTake(IEnumerable<Product> list, int select)
    {
        var newList = list.Take(select);
        Model.RemoveAt(select - 2);



        return newList;

    }

    void RatingStars(double? rating)
    {

        for (int i = 0; i < rating; i++)
        {

            <i class="bi bi-star"></i>


        }
    }


    async Task RenderMostPopular()
    {
        

        foreach (var product in @Model)
        {

            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1">
                        <img class="part-1 img-product  border border-5" src=@product.Image 
                             alt="100%x280" onerror="this.onerror=null;this.src='/img/hummingbird.png';" />
                        <ul class="fixed-top mx-2 ">
                            <li><a href="#"><i class="bi bi-cart-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2 center text-center">
                        <h3 class="product-title">@product.Name</h3>
                      
                        <h4 class="product-title"> By: @product.Brand</h4>
                
                        <h4 class="product-price">@product.Price £</h4>

                    </div>
                </div>
            </div>
            
        }
    }
    async Task RenderRecommended()
    {

        var recommendedList = _ProductHandler.GetRecommendedProducts("lipstick", 12).Result.AsEnumerable();

        
        foreach (var product in @recommendedList)
        {

            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1">
                        <img class="part-1 img-product border border-5" src=@product.Image 
                             alt="100%x280" onerror="this.onerror=null;this.src='/img/hummingbird.png';" />
                        <ul class="fixed-top mx-2 ">
                            <li><a href="#"><i class="bi bi-cart-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2 center text-center">
                        <h3 class="product-title">@product.Name</h3>
                      
                        <h4 class="product-title"> By: @product.Brand</h4>
                
                        <h4 class="product-price">@product.Price £</h4>

                    </div>
                </div>
            </div>
            
        }
    }



    async Task RenderByBrand()
    {

        var fromBrandList = _ProductHandler.GetProductsByBrand("maybelline", 11).Result.AsEnumerable();



        foreach (var product in @fromBrandList)
        {

            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1">
                        <img class="part-1 img-product border border-5" src=@product.Image 
                             alt="100%x280" onerror="this.onerror=null;this.src='/img/hummingbird.png';" />
                        <ul class="fixed-top mx-2 ">
                            <li><a href="#"><i class="bi bi-cart-fill"></i></a></li>
                        </ul>
                    </div>
                    <div class="part-2 center text-center">
                        <h3 class="product-title">@product.Name</h3>
                      
                        <h4 class="product-title"> By: @product.Brand</h4>
                
                        <h4 class="product-price">@product.Price &euro;</h4>

                    </div>
                </div>
            </div>
        }

    }
}






<section class="header d-flex justify-content-center container-fluid w-100">
    <div class="card background-img bg-transparent text-center justify-self-center text- px-3 header-img my-2">
        <h1>
            Welcome to Razer Cosmetics
        </h1>
        <p >
            <pre class="pre
">
“Calliope leaned forward on the vanity,
which was littered with gleaming silver beauty wands and powders
- and a fresh manicolor mitt—all of it arrayed carefully before her,
like weapons polished and laid out for battle.
Her own lethal tools, which had always made her so dangerously beautiful.” – Katharine McGee
        </pre>

        </p>
    </div>

</section>

<section class="section-products">
    <div class="container">
        //header

        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>

        <div class="row">
            @{
                @RenderMostPopular()
            }
        </div>

        //header
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>Recommended for you</h2>
                </div>
            </div>
        </div>

        <div class="row">
            @{
                @RenderRecommended()
            }
        </div>

        //header
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>By Maybelline</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                @RenderByBrand()
            }
        </div>


    </div>
</section>